body {
    /* Typography Declarations */
    color: #F0FFFF	;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
	/* */
	background:#00CED1;
	font-size: 125%;

}

header{
	background: #191970;
	text-align: center;
}

h1{
	color: #ffffff;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size: 150%;
}

h2{
	color: #191970;
	background: #48D1CC;
}


summary{
	font-style:normal;
}

details{
	font-style: italic;
}


footer{
	background: #191970
}

#grad {
    width: 600px;
    height: 600px;
    background: blue; /* In case a browser doesn't support gradients */
    background: linear-gradient(to left, #ff5e7c, #c272d4, #718ced, #02aab0, #00cdac); /* Standard syntax */
    background: -webkit-linear-gradient(to left, #ff5e7c, #c272d4, #718ced, #02aab0, #00cdac); /* Safari */
   }